# PostgreSQL settings
POSTGRES_DB=empresa_db
POSTGRES_USER=empresa_user
POSTGRES_PASSWORD=empresa_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Django settings
DJANGO_SECRET_KEY=YOUR_KEY

# Mail settings
MAILGUN_API_KEY=YOUR_KEY
MAILGUN_DOMAIN=YOUR_DOMAIN
DEFAULT_FROM_EMAIL=YOUR_DEFAULT_FROM_EMAIL


#IA Base settings
IA_API_KEY=YOUR_TOKEN

